
.text_container{
  text-align: center;
  font-family: 'Tenali Ramakrishna', sans-serif;
  margin-top: 10px;
}

#textspeed{
  font-family: 'Londrina Sketch', cursive;
  font-size: 3rem;
}

hr{
  align: center;
  width: 70%;
}

.main_container{
  height: 200px;
  width: 100%;
  background: #eee;
  border: 2px #aaa solid;
}

.main_container__instruction{
text-align: center;
font-size: 3em;
color: purple;

}


.btn_container{
  text-align: center;
  margin-bottom: 10px;
}

/* .btn{
  margin: 10px 10px;
  padding: 8px 0 25px 0;
  background-color: white;
  outline: none;
  border-color: lightblue;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  border: 2px solid lightblue;
  text-decoration: none;
  text-shadow: 3px 3px 3px #aaa;
  transition: all .1s .1s;
} */

/* .btn:hover{
  background-color: lightblue;
  color: white;
  text-shadow: 1px 1px 1px #fff;
  transform: translateY(-2px) scale(1.1);
} */

.start_btn{

}

.stop_btn{

}


.showResults, .reflex{
  height: 30px;
  /* Minimum heigth to avoid div movement when text is inserted */
  text-align: center;
  margin-top: 20px;
}
